html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: url(../img/Fundo.png) center top repeat-x;
    background-color: #003f52;
}

/*
    Titulo pagina home
*/
.title {
    color: #005d74;
    font-size: 110px;
}

.subtitle {
    font-size: 22px;
    margin-left: 8px;
}

.underlineTitle {
    color: #a60088;
}
/*
    Definições dos tipos de fontes
*/
@font-face {
	font-family: 'Telefonica-Bold';
	src: url('../fonts/Telefonica-Bold.ttf') format('truetype'),
         url('../fonts/Telefonica-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
	font-family: 'Telefonica-Light';
	src: url('../fonts/Telefonica-Light.ttf') format('truetype'),
         url('../fonts/Telefonica-Light.woff') format('woff');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
	font-family: 'Telefonica-Regular';
	src: url('../fonts/Telefonica-Regular.ttf') format('truetype'),
         url('../fonts/Telefonica-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

.regular { font-family: 'Telefonica-Regular', 'Arial', sans-serif; }
.light { font-family: 'Telefonica-Light', 'Arial', sans-serif; }
.bold { font-family: 'Telefonica-Bold', 'Arial', sans-serif; }

.logo {
    margin-top: 20px;
    margin-left: 15px;
}

.titulo {
    margin-top: 160px;
    margin-left: 25%;
}

.titulo p {
    line-height: 20px;
}
.menuBotoes {
    margin-top: 80px;
}

.container-picolo {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.img_horizontal {
    display: none;
    margin-top: 10px;
}

.img_vertical {
    display: block;
}

.alignTop {
    margin-top: 56px;
}

.sticky-top {
    top: 30px;
}

@media (min-width: 320px)  { /*Celular em pé */
    .title { font-size: 4.5em; }
    .subtitle { font-size: 1em; }
    .titulo { margin-top: 60px; margin-left: 3%; }
    .menuBotoes { margin-top: 50px; }
    .img_horizontal { display: block; }
    .img_vertical { display: none; }
}

@media (min-width: 576px)  { /*Celular deitado */
    .title { font-size: 90px; }
    .subtitle { font-size: 20px; }
    .titulo { margin-top: 60px; margin-left: 5%; }
    .menuBotoes { margin-top: 50px; }
    .img_horizontal { display: block; }
    .img_vertical { display: none; }
}

@media (min-width: 768px)  { /*Tablet em pé */
    .title { font-size: 90px; }
    .subtitle { font-size: 20px; }
    .titulo { margin-top: 60px; margin-left: 19%; }
    .menuBotoes { margin-top: 50px; }
    .img_horizontal {display: block;}
    .img_vertical { display: none; }
}

@media (min-width: 992px)  { /*Tablet deitado */
    .title { font-size: 90px; }
    .subtitle { font-size: 20px; }
    .titulo { margin-top: 60px; margin-left: 25%; }
    .menuBotoes { margin-top: 50px; }
    .img_horizontal {display: none;}
    .img_vertical { display: block; }
}

@media (min-width: 1200px) { /*Desktop ou maior */
    .title { font-size: 90px; }
    .subtitle { font-size: 20px; }
    .titulo { margin-top: 60px; margin-left: 29%; }
    .menuBotoes { margin-top: 50px; }
    .img_horizontal {display: none;}
    .img_vertical { display: block; }
}

/*---------------------------------------------------------------------------------------------------------*/
